html, body {
    height: calc(100% - 6px);
    margin: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body .ui-datatable thead th {
    padding: 1px;
}

body .ui-datatable .ui-datatable-data>tr>td {
    padding: 2px 1px;
}

.text-center {
    text-align: center;
}

.ui-dialog-content {
    padding: unset !important;
}

.ui-panel-content {
    border: none !important;
    padding: unset !important;
}

.ui-datatable-header, .ui-datatable-footer {
    text-align: unset !important;
}

.footer-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
